body {
    background-color: rgb(248, 248, 248);
    border: 40px solid rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
 }

 h1 {
     text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 8em;
     font-weight: bolder;
     letter-spacing: 15px;
 }

 .card {
     width: 20vw;
     border: 1px solid black;
     padding: 10px 10px 10px 10px;
     font-family: 'Open Sans Condensed', sans-serif;
     text-align: center;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
     cursor: pointer;
     border-radius: 0.5%;
 }

 .card h3 {
    background-color: rgba(0, 0, 0, 0.87);
    color: whitesmoke;
    padding: 5px;
    letter-spacing: 3px;
 }

 .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.7);
    transition: box-shadow .2s;
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    }

 .card img{
     width: 20vw;
 }

 #cocktail-list {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: auto;
     grid-gap: 30px;
     padding: 50px 50px 50px 50px;
     justify-items: center;
 }

 #spotlight {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
    margin-left: 400px;
    margin-top: 150px;
    margin-bottom: 150px;
 }
 
 #spotlight-card {
    background-color: rgb(250, 250, 250);
    width: 40vw;
    align-self: center;
    border: 10px solid rgb(185, 13, 13);
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 1s;
 }

#spotlight-card h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.87);
    color: whitesmoke;
}
 
 #spotlight-card img {
    width: 20vw;
 }

